@import './vars.module.scss';

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color5;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginContainer {
  border-radius: 8px;
  padding: 12px;
  background-color: $color1;
  background: rgba(0, 0, 0, 0.25);
}
